* {
	padding: 0;
	margin: 0;
}

.home{
	background-image: url(../view/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
}
header {
	background-color: black; 
	width: 100%;

}
header nav div h1{
	color: white;
	text-align: center;
	padding: 5px;
}
/*contenedor del personaje y sus complementos*/	
#contenedor {
	display: flex;
	max-width: 100%;
}

#contenedor .cajas {
	width: 100%;
	text-align: center;
	display: inline-block;
	/*border-color: white;
	border-style: solid;*/
	padding: 2%;
}
/*primera caja* del contenedor*/

#contenedor .cajas div img{
	max-width: 60%;
}
.avatar{
 position:relative;
}
.avatar div img{
    width:auto;
}
#img1{
    border-radius: 10px;
	border-style: solid;
	border-color: white;
    z-index:1;
}

#img2{

    position:absolute;
    top:25%;
    left:38%;
    z-index:2;
}
#img3{
    position:absolute;
    top:45%;;
    left:38%;
    z-index:3;
}

#img4{
    position:absolute;
    top:1%;
    left:32%;
    z-index:4;
}
#contenedor .nombreAvatar{
    bottom:150px;
	margin: 5% ;
/*	border-style: solid;
	border-color: white;*/
}
#contenedor .caracteristicas1{

	border-style: solid;
	border-color: black;
	padding:  1%;
	margin: 5%;
}

#contenedor .caracteristicas1 img{
    display:inline-flex;
    border-radius: 10px;
	border-style: solid;
	border-color: white;
	width: 25% ;
	margin: 4px;
}
#contenedor .caracteristicas1 img:hover{

	border-color: black;
	background-color: #A69D9B;
}
#contenedor .caracteristicas2{
	border-style: solid;
	border-color: black;
	padding: 1%;
	margin: 5%;
}

/*segunda caja del contenedor*/
#contenedor .cajas .partes{
	/*border-style: solid;
	border-color:blue;*/
	padding: 2%;	
}

#contenedor .cajas .partes img{
	max-width: 25%;
	border-radius: 25px ;
	border-style: solid !important;
	border-color: white !important;
	margin: 5px;
}
#contenedor .cajas .partes img:hover{
	background-color:black;
	border-color: #A69D9B;
}
#contenedor .cajas .colores{
	border-style: solid;
	border-color:black;
	padding: 2%;	
}
#contenedor .cajas .colores img{
	border-style: none;
	max-width: 10%;
	border-radius: 2px;
	margin: 5px;
}
#contenedor .cajas .colores img:hover{
	background-color: yellow;
}	
/*tercera caja del contenedor*/


#contenedor .dataBase{
	border-style:solid;
	border-color: white;
	padding: 5%;
	
}
#contenedor .dataBase ul li{
	list-style:none;
	text-align: left;


}
#contenedor .comment{
	border-style:solid;
	border-color:white;
	padding: 10%;
}

/*footer*/
#botones {
	display: inline-block;
	display: flex;
	width: 100%;
}

#botones div{
	width: 100%;
	text-align: center;
	margin: 15px;
	padding: 5px;
}
button{
	background-color: white;
	color:black;
	padding: 2%;
	border-color: black;
	border-style:solid;
	border-radius: 15px; 
}
button:hover{
	background-color: black;
	color:white;
}
tr,.tituloAvatar,.tituloBuscarP{
    color:black;
}
caption {
    display: block;
    line-height: 3em;
    width: 100%;
    -webkit-align-items: stretch;
    border: 1px solid #eee;
}

.flexy {
    display: block;
    width: 90%;
    border: 1px solid #eee;
    max-height: 320px;
    overflow: auto;
}

.flexy thead {
    display: -webkit-flex;
    -webkit-flex-flow: row;
}

.flexy thead tr {
    padding-right: 15px;
    display: -webkit-flex;
    width: 100%;
    -webkit-align-items: stretch;
}

.flexy tbody {
    display: -webkit-flex;
    height: 100px;
    overflow: auto;
    -webkit-flex-flow: row wrap;
}
.flexy tbody tr{
    display: -webkit-flex;
    width: 100%;
}

.flexy tr td {
    width: 15%;
}




